.decorate-wrapper {
  position: relative;
  overflow: hidden;
  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 1210px;
    height: 1080px;
    background-image: url("../img/reviews/bg-obj.png");
    right: -373px;
    top: -122px;
  }
  .wrapper {
    position: relative;
    z-index: 2;
  }
}
