.pin {
  position: absolute;
  // z-index: 2;
}

.custom-map__hints-item {
  position: absolute;
  width: 370px;
  top: -235px;
  left: 0;
  z-index: 10;
}
.custom-map__icon {
  z-index: 2;
}

.pin-1 {
  top: 45%;
  left: 15%;
}

.pin-2 {
  top: 70%;
  left: 35%;
}

.pin-3 {
  bottom: 30%;
  right: 30%;
}

.pin-4 {
  bottom: 65%;
  right: 15%;
}
