.title {
  display: block;
  margin-top: 0;
  margin-bottom: 50px;
  position: relative;
  font-style: normal;
  font-weight: 400;
  font-size: 76px;
  line-height: 1.2;

  @media (max-width: 1750px) {
    font-size: 38px;
    margin-bottom: 35px;
  }
  @media (max-width: 1280px) {
    font-size: 38px;
    margin-bottom: 35px;
  }
}
