.about {
  background-color: var(--Dark);
  color: var(--White);
  &__grid {
    display: grid;
    gap: 0;
    grid-template-columns: repeat(2, 1fr);
    max-width: 100%;
    width: 100%;
  }
  &__left {
    position: relative;
  }
  &__image {
    max-width: 100%;
    width: 100%;
    object-fit: cover;
    height: 100%;
    position: absolute;
  }
  .title {
    color: inherit;
  }
  .wrapper {
    padding-top: 70px;
    padding-inline: 80px;
  }

  .text {
    margin-bottom: 26px;
    & + & {
      margin-bottom: initial;
    }
    &:first-of-type {
      margin-top: 0;
    }
  }
  .more {
    margin-bottom: 66px;
  }
  .title--2 {
    margin-bottom: 32px;
  }

  @media (max-width: 1439px) {
    &__grid {
      grid-template-columns: repeat(1, 1fr);
    }
    .about__image {
      height: 464px;
      position: initial;
    }
    .wrapper {
      padding-inline: 40px;
    }
  }
  @media (max-width: 767px) {
    .wrapper {
      padding-inline: 20px;
    }
  }
}
