.about-services {
  p:not([class]) {
    margin: 0;
    color: var(--Text);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.16px;
  }
  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    margin-bottom: 40px;
  }
  &__item {
    position: relative;
    background-color: var(--Dark);
    color: var(--LightGrey);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.16px;
    padding: 32px;
    transition: all 0.3s;

    &:hover,
    &:active,
    &:focus {
      background-color: var(--Black);

      .about-services__title::before {
        width: 8px;
      }
    }
  }
  &__number {
    z-index: 0;
    position: absolute;
    color: var(--White);
    font-family: var(--Exo);
    font-size: 240px;
    font-style: normal;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    pointer-events: none;
    opacity: 0.08;
    bottom: 32px;
    left: 32px;
  }
  &__subtitle {
    display: block;
    color: var(--White);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.28px;
    opacity: 0.8;
  }
  &__head {
    padding-bottom: 26px;
    margin-bottom: 21px;
    position: relative;

    &::after {
      content: "";
      display: block;
      width: 96px;
      height: 1px;
      background-color: var(--LightGrey);
      position: absolute;
      bottom: 0;
      left: 0;
      opacity: 0.2;
    }
  }
  &__title {
    position: relative;
    margin: 0;
    color: var(--White);
    font-family: var(--Exo);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.4;
    text-transform: uppercase;
    padding-left: 16px;
    &::before {
      content: "";
      display: block;
      width: 4px;
      height: 75%;
      background-color: var(--Red);
      transition: all 0.3s;
      flex-shrink: 0;
      position: absolute;
      left: 0;
      top: 8px;
    }
  }

  .title--2 {
    margin-bottom: 41px;
  }
  &__text {
    margin: 0;
  }

  @media (max-width: 1439px) {
    &__list {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media (max-width: 1023px) {
    &__list {
      grid-template-columns: repeat(1, 1fr);
    }
    &__number {
      bottom: -20px;
      font-size: 200px;
    }
  }

  @media (max-width: 767px) {
    &__item {
      padding: 20px 25px;
    }
    &__head {
      padding-bottom: 14px;
      margin-bottom: 16px;
    }
    &__title {
      font-size: 18px;

    }
    &__text {
      font-size: 15px;

    }
  }
}
