.companies {

  .title {
    margin-bottom: 40px;
  }
}

.logotypes {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  li {
    max-width: max-content;

  }
  img {
    display: block;
  }
}
