.contacts {
  &--mod {
    background-color: var(--Dark);
    color: var(--White);
    padding-top: 70px !important;

    .title {
      color: inherit;
    }
    .contacts__list {
      grid-template-columns: 1fr;
    }
    .contacts__list-item {
      color: var(--White);
    }
  }
  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
  }
  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    gap: 25px 32px;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 30px;
    &--mod {
      grid-template-columns: repeat(4, 1fr);
      align-items: flex-start;
    }
  }

  &__list-item {
    color: var(--Gray-2);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.33;
    small {
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
    }
  }
  &__list-item--mod {
    grid-column: span 2;
  }
  &__label {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    position: relative;
    color: var(--Grey);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    &::before {
      content: "";
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='18' height='26' fill='none'%3e%3cpath stroke='%23EC3C3C' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' stroke-width='2' d='M9 11.966a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z'/%3e%3cpath stroke='%23EC3C3C' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' stroke-width='2' d='M1 9.276C1 4.706 4.582 1 9 1s8 3.705 8 8.276c0 6.967-6.4 8.757-8 15.724-1.6-6.967-8-8.757-8-15.724Z'/%3e%3c/svg%3e");
      display: block;
      margin-right: 12px;
      width: 26px;
      height: 26px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
    &.call {
      &::before {
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='26' height='26' fill='none'%3e%3cpath stroke='%23EC3C3C' stroke-miterlimit='10' stroke-width='2' d='M8.902 17.098c5.608 5.608 10.964 6.794 12.94 6.902 1.265-1.851 1.798-3.38 2.158-4.745-1.366-1.33-3.354-2.687-5.177-3.45l-2.157 2.156c-.736-.198-2.759-1.034-5.176-3.451-2.417-2.418-3.253-4.44-3.45-5.176l2.156-2.157C9.432 5.354 8.076 3.367 6.745 2 5.379 2.36 3.85 2.893 2 4.157c.108 1.977 1.294 7.333 6.902 12.941Z'/%3e%3c/svg%3e");
      }
    }
    &.human {
      &::before {
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='25' fill='none'%3e%3cpath stroke='%23EC3C3C' stroke-miterlimit='10' stroke-width='2' d='M14.333 22.667c0 .736-.597 1.333-1.333 1.333h-1.333a1.334 1.334 0 0 1 0-2.666H13c.736 0 1.333.597 1.333 1.333ZM21.667 11c.736 0 1.333.597 1.333 1.333V15c0 .736-.597 1.333-1.333 1.333h-1.334M2.333 11C1.597 11 1 11.597 1 12.333V15c0 .736.597 1.333 1.333 1.333h1.334M20.333 12l-1.535-1.355a4.334 4.334 0 0 0-2.481-.788h-6.098C7.667 9.857 6.333 7 6.333 7'/%3e%3cpath stroke='%23EC3C3C' stroke-miterlimit='10' stroke-width='2' d='M8.47 22.505c-2.674-.721-4.803-3.692-4.803-5.838v-9A6.667 6.667 0 0 1 10.333 1h3.334a6.667 6.667 0 0 1 6.666 6.667v9c0 2.458-2.794 6-6 6'/%3e%3c/svg%3e");
      }
    }
  }
  @media (max-width: 1439px) {
    &__grid {
      grid-template-columns: repeat(1, 1fr);
      gap: 40px;
    }
    &__left {
      order: 2;
    }
    &--mod {
      .contacts__left {
        order: initial;
      }
    }
    &__list--mod {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media (max-width: 767px) {
    padding-top: 35px !important;
    &__list {
      gap: 16px;
      grid-template-columns: repeat(1, 1fr);
      margin-bottom: 31px;
    }
    &__list-item--mod {
      grid-column: initial;
    }
    .button {
      margin-left: auto;
    }
    &__list--mod .button {
      margin-left: initial;
    }
  }
}
