.header {
  background-color: var(--White);
  transition: all 0.6s;
  position: fixed;
  top: 0;
  max-width: 100%;
  width: 100%;
  z-index: 999;
  transition: all 0.4s;

  &__top {
    padding-top: 18px;
    padding-bottom: 11px;
    border-bottom: 1px solid;
    border-color: var(--LightGray);
    transition: all 0.4s;
  }
  &__flex {
    align-items: center;
    display: flex;
  }
  &__logo {
    flex-shrink: 0;
    margin-right: auto;
    display: flex;
    align-items: center;
    max-width: max-content;
  }
  &__logo-link {
    text-decoration: none;
    max-width: 162px;
    path {
      transition: all 0.3s;
    }
    &:hover {
      path {
        fill: var(--Over);
      }
    }
  }
  &__logo-link:hover + &__logo-text,
  &__logo-link:hover + &__logo-text,
  &__logo-link:focus + &__logo-text {
    color: var(--Dark);
  }

  &__logo-text {
    display: block;
    margin-left: 14px;
    color: var(--Grey);
    font-family: var(--Inter);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.28px;
    max-width: 465px;
    transition: all 0.3s;
  }
  &__contacts-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 24px;
    max-width: max-content;

    svg {
      width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    span {
      display: block;
      color: var(--Dark);
      text-align: right;
      font-family: var(--Exo);
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      text-transform: uppercase;
    }
  }
  &__contacts-link {
    transition: all 0.3s;
    .--phone {
      path {
        transition: all 0.3s;
      }
    }
    &:hover {
      span {
        color: var(--Over);
      }
      &.--phone {
        path {
          fill: var(--Over);
        }
      }
    }
  }
  &__contacts-link:has(span) {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .button-menu {
    display: none;
  }
  .mobile-contacts {
    display: none;
  }

  @media (max-width: 1023px) {
    &__logo {
      max-width: 450px;
    }
  }

  @media (max-width: 767px) {
    &__top {
      padding-top: 12px;
    }
    &__logo {
      max-width: initial;
    }
    &__logo-text {
      display: none;
    }
    &__contacts-link span {
      display: none;
    }
    .button-menu {
      display: flex;
      margin-left: 20px;
    }
    &__contacts-list {
      gap: 20px;
    }
    &__contacts-link:has(span) {
      display: block;
    }
    &__contacts-list svg {
      width: 25px;
      height: 25px;
    }
    &__logo-link {
      max-width: 162px;
      display: block;
      height: 21px;
    }
    .mobile-contacts {
      display: block;
    }
  }
}
