.services-cost {
  &__grid {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-start;
  }
  &__table {
    table {
      border-collapse: collapse;
    }
    th {
      color: var(--White, #fff);
      font-family: var(--Inter);
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      letter-spacing: 0.14px;
      background: var(--Dark, #3a3a3a);
      padding: 15px 20px;
    }
  }
}
