:root {
  --Exo: "Exo 2", sans-serif;
  --Inter: "Inter", sans-serif;

  --White: #ffffff;
  --Black: #000000;

  --LightGray: #ededed;
  --LightGrey: #ededed;
  --Red: #ec3c3c;
  --Over: #ba0303;
  --Dark: #3a3a3a;
  --Grey: #999999;
  --Text: #656565;
  --Gray-2: #4f4f4f;
  --Mod1: rgba(255, 255, 255, 0.1);
  --Mod2: rgba(0, 0, 0, 0.8);
  --Mod3: rgba(255, 255, 255, 0.2);
  --Mod4: rgba(153, 153, 153, 0.3);
  --Mod5: rgba(237, 237, 237, 0.5);
  --Mod6: rgba(255, 255, 255, 0.5);
}
