.button-menu {
  .button-menu {
    display: none;
    position: relative;
    z-index: 20;
}
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;

  svg {
    flex-shrink: 0;
  }
}
