.custom-form__grid {
  display: grid;
  gap: 32px 24px;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 36px;
}

.custom-form__input {
  padding: 3px;
  // border-radius: 4px;
  border: 1px solid var(--Mod6);
  flex-grow: 2;
  max-width: 100%;
  width: 100%;
}

.custom-form__input:hover {
  border: 1px solid var(--White);
}

.custom-form__input:has(input:active),
.custom-form__input:has(input:focus),
.custom-form__input:has(textarea:active),
.custom-form__input:has(textarea:focus) {
  border: 4px solid var(--White);
  padding: 0;
}

.custom-form__item {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(1, 1fr);
}

.custom-form__label {
  margin-bottom: 12px;
  display: block;
}

.custom-form__check {
  flex-grow: 2;
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 45px;
}

.custom-form__check label {
  flex-grow: 2;
  max-width: 100%;
  margin: 0;
  position: relative;
  padding-left: 32px;
}

.custom-form__check input[type="checkbox"] + label::before {
  position: absolute;
  left: 0;
  top: 3px;
  width: 24px;
  height: 24px;
  content: "";
  background-repeat: no-repeat;
  background-size: contain;
}

.custom-form__check input[type="checkbox"] + label::before {
  background-image: url(../img/icons/checkbox-off.svg);
}

.custom-form__check input[type="checkbox"]:checked + label::before {
  background-image: url(../img/icons/checkbox-on.svg);
}

.custom-form__check a {
  color: var(--LightBlue);
  text-decoration: underline;
}

.custom-form input {
  // border-radius: 2px;
  background: var(--White);
  max-width: 100%;
  width: 100%;
  outline: none;
  border: none;
  padding: 11px 20px;
  color: var(--Black);
  font-family: var(--Inter);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.16px;
  display: block;
  transition: all 0.3s;
}

.custom-form textarea {
  // border-radius: 2px;
  background: var(--White);
  max-width: 100%;
  width: 100%;
  outline: none;
  border: none;
  padding: 11px 20px;
  color: var(--Black);
  font-family: var(--Inter);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.16px;
  display: block;
  resize: none;
  height: 198px;
}

.custom-form__consent {
  color: var(--Text, #656565);
  font-family: var(--Inter);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;

  a {
    color: var(--White, #FFF);
  }
}

.custom-form__footer {
  display: grid;
  gap: 32px;
  grid-template-columns: 1fr 150px;
  align-items: center;
  .custom-form__check {
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .custom-form__grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 14px;
  }
  .custom-form__footer {
    grid-template-columns: repeat(1, 1fr);

    .button {
      margin-left: initial !important;
    }
  }
}
