.hero-slider {
  position: relative;

  &__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }
  .swiper-slide {
    position: relative;
    z-index: 2;
  }

  &__flex {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100vh;
    position: relative;
    z-index: 2;
    padding-bottom: 170px;
    padding-top: 70px;
    max-width: 460px;
    margin-left: auto;
  }
  &__title {
    display: block;
    margin: 0;
    color: var(--White, #fff);
    text-align: right;
    font-family: var(--Exo);
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.1;
    text-transform: uppercase;
    margin-bottom: 26px;
  }
  &__text {
    display: block;
    margin: 0;
    color: rgba(255, 255, 255, 0.8);
    text-align: right;
    // font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    // line-height: 24px; /* 133.333% */
    letter-spacing: 0.18px;
    margin-bottom: 32px;
  }
  &__logo {
    max-width: 224px;
    margin-bottom: 28px;
    img {
      display: block;
      width: 100%;
    }
  }
  &__aside {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    max-width: 96px;
    height: 100vh;
    background-color: var(--Dark);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__buttons {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0;
  }
  .swiper-button {
    width: 96px;
    height: 96px;
    background-color: var(--Red);
    position: initial;
    transition: none;
    margin: 0;
    border: none;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    &:after {
      display: none;
    }
    svg {
      flex-shrink: 0;
      width: 12px;
      height: 26px;
      pointer-events: none;
    }
  }

  @media (max-width: 1600px) {
    &__logo {
      max-width: 128px;
      margin-bottom: 18px;
    }
    &__title {
      font-size: 64px;
      margin-bottom: 19px;
    }
    &__flex {
      padding-bottom: 96px;
      padding-top: 32px;
    }
  }
  @media (max-width: 1279px) {
    &__aside {

    }

  }
  @media (max-width: 1023px) {
    &__aside {
      top: auto;
      height: 96px;
      width: 100%;
      max-width: 100%;
      left: 0;
      bottom: 0;
      right: 0;
      flex-direction: row;
      position: initial;
    }
    &__buttons {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 0;
      margin-top: initial;
      margin-left: auto;
    }
    .swiper-button-prev svg {
      transform: rotate(-90deg);
    }
    .swiper-button-next svg {
      transform: rotate(-90deg);
    }
    &__flex {
      height: initial;
    }
    &__title {
      font-size: 56px;
    }
  }
  @media (max-width: 767px) {
    background-color: var(--Black);
    color: var(--White);
    top: initial;
    // margin-top: 56px;
    &__flex {
      margin: 0;
      min-height: initial;
      max-width: 100%;
      justify-content: flex-start;
      align-items: flex-start;
      margin-top: -35px;
      padding-top: 0;
      padding-bottom: 30px;
    }
    &__image {
      position: initial;
      max-height: 255px;
      img {
        object-fit: cover;
        height: 100%;
      }
    }
    &__aside {
      height: 60px;
    }
    .swiper-button {
      width: 60px;
      height: 60px;
    }
    &__title {
      font-size: 40px;
      text-align: left;
    }
    &__text {
      font-size: 14px;
      text-align: left;
    }
    &__logo {
      max-width: 70px;
    }
  }
}
